<center>
<img src="http://i0.kym-cdn.com/photos/images/original/000/234/765/b7e.jpg" height="400" width="400">
</center>

# Первому семинару приготовиться

## 0. Куда это я попал? 

__Jupyter Notebook__ - это штука для интеракктивного запуска кода в браузере. Много где используют. Можно писать код, выполнять его и смотреть на результат.

Напиши в ячейке ниже `2 + 2` и нажми на кнопки __Shift__ и __Enter__ одновременно. Твой код выполнится и ты увидишь ответ. Дальше так и будем писать код.

In [3]:
1 + 1

2

In [1]:
# напиши код прямо тут вместо трёх точек
...

> Ещё у ячеек бывает разный тип. В этой части семинара ваш семинарист немного поучит вас работать в тетрадках с Markdown.

### Markdown

- [10-минутный урок по синтаксису](https://www.markdowntutorial.com/)
- [Короткий гайд по синтаксису](https://guides.github.com/features/mastering-markdown/)

## 1. Python как калькулятор

Можно складывать, умножать, делить и так далее...

In [4]:
4 * 7

28

In [8]:
3 * (2 + 5)

21

In [9]:
5 ** 3 # а не ^

125

In [5]:
5 / 2

2.5

In [6]:
5 // 2 #Человек против машины: раунд 1, угадайте, что получится?

2

In [4]:
5 % 2 #а тут?

1

Как обстоят дела с другими операциями? Попробуем извлечь квадратный корень:

In [15]:
sqrt(4)

NameError: name 'sqrt' is not defined

In [7]:
ceil(2.3)

NameError: name 'ceil' is not defined

In [8]:
import math

In [9]:
math.ceil(2.3)

3

In [10]:
import math as mh

In [11]:
mh.ceil(2.3)

3

In [12]:
from math import ceil

In [13]:
ceil(2.3)

3

Извлечение квадратного корня не входит в комплект математических операций, доступных в Python по умолчанию, поэтому вместо ответа мы получили какую-то непонятную ругань. 

Эта непонятная ругань называется исключением, когда-нибудь мы научимся их обрабатывать, а сейчас обратим внимание на последнюю строчку: `NameError: name 'sqrt' is not defined` — то есть «я не понимаю, что такое sqrt». Однако, не всё так плохо: соответствующая функция есть в модуле math. Чтобы ей воспользоваться, нужно импортировать этот модуль. Это можно сделать разными способами.

In [14]:
import math
math.sqrt(4)

2.0

In [15]:
4 ** 0.5

2.0

После того, как модуль `math` импортирован, вы можете узнать, какие ещё в нём есть функции. В __IPython Notebook__ для этого достаточно ввести имя модуля, поставить точку и нажать кнопку __«Tab»__. Вот, например, синус:

In [16]:
math.sin(0)

0.0

Приведенный синтаксис может оказаться неудобным, если вам часто приходится вызывать какие-то математические функции. Чтобы не писать каждый раз слово «math», можно импортировать из модуля конкретные функции.

In [17]:
from math import sqrt
sqrt(4)

2.0

Также можно подгрузить какой-нибудь модуль или пакет, но при этом изменить у него название на более короткое и пользоваться им.

In [18]:
import math as mh
mh.sqrt(4)

2.0

## 2. Переменные

Понятие «переменной» в программировании похоже на аналогичное понятие в математике. Переменная — это ячейка памяти, обозначаемая каким-то именем. В этой ячейке могут храниться числа, строки и более сложные объекты. Мы пока поработаем немножко с числовыми переменными.

In [2]:
a = 10

In [3]:
a

10

In [4]:
a * 2

20

In [5]:
a = a * 2

In [6]:
a

20

In [19]:
a *= 2 # a = a * 2

In [20]:
a

40

In [25]:
x = 4
x

4

In [26]:
x = 2

In [1]:
x

NameError: name 'x' is not defined

In [32]:
x = x + 2
x

12

In [7]:
x

NameError: name 'x' is not defined

А что будет в $x$, если запусстить ячейку ещё раз?

## 3. Типы

Попробуем записать числа по-разному

In [8]:
1

1

In [9]:
1.2

1.2

In [10]:
type(1) # integer – целое число

int

In [12]:
type(2.3) # float

float

In [14]:
'1'

'1'

In [16]:
type('1') # string – строка

str

In [17]:
1 * 2 # умножение

2

In [18]:
'1' * 2

'11'

In [19]:
1 + 1

2

In [21]:
'1' + '1' # конкатенация

'11'

In [22]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [23]:
'1' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [24]:
'1' / '1'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [25]:
False

False

In [26]:
True

True

In [27]:
a = 42

In [28]:
a > 10

True

In [30]:
1 < 2 > 3

False

In [31]:
int(True)

1

In [32]:
int(False)

0

In [33]:
True + True

2

In [34]:
bool(100)

True

In [35]:
bool(-100)

True

In [36]:
bool(1)

True

In [37]:
bool(0)

False

In [2]:
4 * 42

168

In [38]:
5 > 7

False

In [39]:
5 >= 7

False

In [40]:
5 <= 7

True

In [4]:
"4"

'4'

In [22]:
'4' * 42 #Человек против машины: раунд 2, угадайте, что получится?

'444444444444444444444444444444444444444444'

Для каждого типа арифметика работает по-своему!

In [5]:
a = 'ёж'
b = 'ик'
a + b

'ёжик'

In [9]:
type(4)

int

In [7]:
type('4')

str

In [8]:
type(4.0)

float

In [29]:
type(True)

bool

- `str` - текстовый
- `int` - целочисленный
- `float` - число с плавающей запятой (обычное действительное число)
- `bool` - булева переменная

Иногда можно переходить от одного типа переменной к другому.

In [10]:
x = '42'
print(type(x))

x = int(x)
print(type(x))

<class 'str'>
<class 'int'>

А иногда нет. Включайте логику :)

In [39]:
x = 'Люк, я твой отец'
print(type(x))

x = int(x)
print(type(x))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Люк, я твой отец'

In [16]:
a = '2.3'
float(a)

2.3

Булевы переменные возникают при разных сравнениях, их мы будем активно использовать на следующем семинаре.

### Логические операции

* Равно (==)
* Меньше (<)
* Больше (>)
* Не равно (!=)

Результат логических операций — тип bool (True или False).

In [41]:
x = 2
y = 3

In [42]:
x != 2

False

In [23]:
5 <= 7

True

In [24]:
x < y

True

В Python есть возможность производить двойные сравнения:

In [27]:
# эквивалентно (1 < 2) and (2 < 3)
1 < 2 < 3

True

In [41]:
2 + 2 == 4

True

In [43]:
t = 10

In [44]:
t == 10

True

In [42]:
2 + 2 == 5

False

In [43]:
x = 5
x < 8

True

## 4. Вещественные числа и погрешности

Вещественные числа в программировании не так просты. Вот, например, посчитаем синус числа $\pi$:

In [23]:
from math import pi, sin
sin(pi)  #думаете, получится 0? Ха-ха!

1.2246467991473532e-16

Непонятный ответ? Во-первых, это так называемая [компьютерная форма экспоненциальной записи чисел.](https://ru.wikipedia.org/wiki/Экспоненциальная_запись#.D0.9A.D0.BE.D0.BC.D0.BF.D1.8C.D1.8E.D1.82.D0.B5.D1.80.D0.BD.D1.8B.D0.B9_.D1.81.D0.BF.D0.BE.D1.81.D0.BE.D0.B1_.D1.8D.D0.BA.D1.81.D0.BF.D0.BE.D0.BD.D0.B5.D0.BD.D1.86.D0.B8.D0.B0.D0.BB.D1.8C.D0.BD.D0.BE.D0.B9_.D0.B7.D0.B0.D0.BF.D0.B8.D1.81.D0.B8) Она удобна, если нужно уметь записывать очень большие или очень маленькие числа:`1.2E2` означает `1.2⋅102`, то есть `1200`, а `2.4e-3` — то же самое, что `2.4⋅10−3=00024`. 

Результат, посчитанный Python для $\sin \pi$, имеет порядок `10−16` — это очень маленькое число, близкое к нулю. Почему не «настоящий» ноль? Все вычисления в вещественных числах делаются компьютером с некоторой ограниченной точностью, поэтому зачастую вместо «честных» ответов получаются такие приближенные. К этому надо быть готовым.

In [48]:
#Человек против машины: раунд 3, угадайте, что получится?
0.4 - 0.3 == 0.1

False

In [49]:
a = 0.4 - 0.3

In [50]:
a

0.10000000000000003

In [51]:
a == 0.1

False

In [52]:
a - 0.1

2.7755575615628914e-17

In [53]:
0 <= a - 0.1 < 1e-8

True

In [19]:
0.4 - 0.3

0.10000000000000003

Когда сравниваете вещественные числа будьте осторожнее.

## 5. Ввод и вывод

Работа в Jupyter редко требует писать код, который сам по себе запрашивает данные с клавиатуры, но для других приложений (и в частности для домашних работ) это может потребоваться. К тому же, написание интерактивных приложений само по себе забавное занятие. Напишем, например, программу, которая здоровается с нами по имени.

In [54]:
1

1

In [55]:
print(1)

1

In [57]:
print('a =', a)

a = 0.10000000000000003

In [58]:
print(1, 2, 3, 4)

1 2 3 4

In [59]:
print(1, 2, 3, 4, sep=' ')

1 2 3 4

In [60]:
print(1, 2, 3, 4, sep='*')

1*2*3*4

In [63]:
print(1, 2, 3, 4, sep='*', end='\n')
print(1)

1*2*3*4
1

In [67]:
print(1, 2, 3, 4, sep='*', end='\t')
print(1)

1*2*3*4	1

In [65]:
print('\n')

In [68]:
name = input()

Nastya

In [70]:
a = input()

100

In [72]:
a

'100'

In [73]:
type(a)

str

In [74]:
a * 2

'100100'

In [75]:
a = int(a)

In [76]:
a

100

In [77]:
a * 2

200

In [78]:
a = input()

2

In [81]:
a = int(a)

In [82]:
a / 2

1.0

In [83]:
a = int(input())

12

In [84]:
a * 2

24

In [86]:
b = float(input())

12.3

In [88]:
b ** 2

151.29000000000002

In [89]:
int('1')

1

In [90]:
float('2.3')

2.3

In [91]:
int('12.3')

ValueError: invalid literal for int() with base 10: '12.3'

In [92]:
int(12.3)

12

In [93]:
int(12.7)

12

In [94]:
round(2.5)

2

In [95]:
round(3.5)

4

In [96]:
round(2.7)

3

In [32]:
name = input("Введите ваше имя: ")
print("Привет,",name)

Введите ваше имя: Aaaa
Привет, Aaaa

In [28]:
a = input()

nastya

In [29]:
a

'nastya'

In [30]:
print(a)

nastya

In [40]:
print('Hello,', a, sep='********', end='! ')
print('bye-bye')

Hello,********nastya! bye-bye

In [43]:
name = input()
print('Hello,', name+'!')

Harry
Hello, Harry!

In [ ]:
name

In [50]:
x = float(input())

8

In [51]:
x

8.0

In [48]:
x * 2

16

In [49]:
x / 2

4.0

Что здесь произшло? В первой строчке мы использовали функцию `input`. Она вывела на экран строчку, которую ей передали (обязательно в кавычках) и запросила ответ с клавиатуры. Я его ввёл, указав своё имя. После чего `input` вернула строчку с именем и присвоила её переменной `name`.

После этого во второй строке была вызвана функция `print` и ей были переданы две строчки — "Привет," и то, что хранилось в переменной `name` Функция `print` вывела эти две строчки последовательно, разделив пробелом. Заметим, что в переменной `name` по-прежнему лежит та строчка, которую мы ввели с клавиатуры.

Попробуем теперь написать программу «удвоитель». Она должна будет принимать на вход число, удваивать его и возвращать результат.

In [ ]:
x = input("Введите какое-нибудь число: ")
y = x * 2
print(y)

Что-то пошло не так. Что именно? Как это исправить?

## Базовые структуры данных: списки и строки

### Строки

Строковые константы можно задавать и с помощью одинарных кавычек, и с помощью двойных, и с помощью тройных:

In [140]:
str(1000)

'1000'

In [142]:
s1 = 'abc'
s2 = "abc"
s3 = """abc
aaaaaa
aaaaa
a
aa
"""

s1 == s2 == s3

False

In [158]:
"Все тут пишут какой "хороший" товар"

SyntaxError: invalid syntax (113831502.py, line 1)

In [152]:
"Все тут пишут какой \"хороший\" товар" # экранирование

'Все тут пишут какой "хороший" товар'

In [153]:
'Все тут пишут какой "хороший" товар'

'Все тут пишут какой "хороший" товар'

In [154]:
"Все тут пишут какой 'хороший' товар"

"Все тут пишут какой 'хороший' товар"

In [155]:
'''"Все тут пишут какой "хороший" товар"'''

'"Все тут пишут какой "хороший" товар"'

In [146]:
s1 == s2

True

In [143]:
s3

'abc\naaaaaa\naaaaa\na\naa\n'

In [144]:
print(s3)

abc
aaaaaa
aaaaa
a
aa

In [67]:
a = 'a\naaaa'

In [69]:
a[1]

'\n'

Операции над строками:

* Сложение строк (+) — конкатенация строк
* Умножение строки на целое число n (*) — повтороение строки n раз

In [55]:
"abc" + 'def'

'abcdef'

In [56]:
"abc" * 3

'abcabcabc'

Функция `len` — получить длину строки:

In [57]:
len("abc")

3

In [58]:
s1

'abc'

In [161]:
a = ' 123456789'

In [162]:
len(a)

10

In [163]:
a[0]

' '

In [164]:
a[1]

'1'

In [165]:
a[9]

'9'

In [166]:
a[-1]

'9'

In [167]:
a[-10]

' '

In [168]:
a

' 123456789'

In [170]:
a[1:5] # slice, срез var[start:end]

'1234'

In [172]:
a[:5] # a[0:5]

' 1234'

In [173]:
a[5:]

'56789'

In [176]:
a[::2] # var[start:end:step]

' 2468'

In [175]:
a[::-1]

'987654321 '

In [179]:
a[2:7:2]

'246'

In [180]:
a[1] + a[2] + a[5]

'125'

In [182]:
a[:3]

' 12'

In [181]:
a

' 123456789'

In [183]:
a.find(' ')

0

In [184]:
a.find('-')

-1

In [188]:
'abacda'.find('a')

0

In [187]:
'abacda'.rfind('a')

5

In [189]:
'aaaa'.upper()

'AAAA'

In [190]:
'AAAAA'.lower()

'aaaaa'

In [193]:
'   \na a  '.strip()

'a a'

In [194]:
'abcda'.strip('a')

'bcd'

In [195]:
'abcda'.rstrip('a')

'abcd'

In [196]:
'abcda'.lstrip('a')

'bcda'

In [197]:
'aaa aa. aaa'.capitalize()

'Aaa aa. aaa'

In [198]:
'aaa aa. aaa'.title()

'Aaa Aa. Aaa'

In [199]:
'aaaaa'.isdigit()

False

In [202]:
'aaa'.isalpha()

True

У типа str большое количество встроенных строковых методов:
* .find — найти подстроку
* .upper — перевести строку в верхний регистр
* .lower — перевести строку в нижний регистр
* .strip — обрезать по краям поданные символы (по умолчанию пробельные)

In [60]:
s1.find('b')

1

In [75]:
s1[-1]

'c'

In [76]:
s1.upper()

'ABC'

In [77]:
s1.upper().lower()

'abc'

In [78]:
"a   ".strip()

'a'

In [79]:
z = '      z.      '

In [80]:
z.strip()

'z.'

In [81]:
z.rstrip()

'      z.'

In [82]:
z.lstrip()

'z.      '

Индексироваться по строкам можно с помощью квадратных скобок:

In [83]:
s = "abc"
s[0]

'a'

In [84]:
s

'abc'

In [93]:
s[0] = 'b'

TypeError: 'str' object does not support item assignment

In [87]:
'b' + s[1:]

'bbc'

In [91]:
s[1:]

'bc'

In [92]:
s[:-1]

'ab'

In [96]:
a = '0123456789'

In [97]:
a = a + '!'

In [98]:
a

'0123456789!'

In [204]:
'1' in a

True

**Внимание**: строка — неизменяемый объект!

In [ ]:
s[0] = 'b'

Срезы (slicing) — вид продвинутой индексации.

s[start:finish:step]

* start — начало среза
* finish — конец среза (не входит в срез!!!)
* step — шаг

In [ ]:
s

In [5]:
s = '0123456789'

In [6]:
s[0:8]

'01234567'

In [105]:
s[::2]

'02468'

In [107]:
s[::-1]

'9876543210'

In [108]:
s[::-2]

'97531'

In [109]:
s[::3]

'0369'

Срез равный всей строке:

In [110]:
s[0:len(s):1]

'0123456789'

In [111]:
# срез с шагом 2
s[0:len(s):2]

'02468'

Срез равный одному элементу:

In [ ]:
s[5:6:1]

start, finish, step могут иметь отрицательные значения

* start == -a $\; \leftrightarrow \;$ start == len(s) - a
* finish == -a $\; \leftrightarrow \;$ finish == len(s) - a
* step == -a $\; \leftrightarrow \;$ проходить список в обратном направлении

<font color='red'>**Задача 2.** Что будет выведено после следующих команд:</font>
    1. s[7:-1:-1]
    2. s[:100:]
    3. s[-1:8:-2]
    4. s[4:-7]
    5. s[-20::5]

In [ ]:
## your answer here

<font color='red'>**Задача 3.** Получите для строки s строку result, состоящую из элементов исходной строки, стоящих на чётных местах, в обратном порядке (включая A[0]), после которых идут элементы строки, стоящие на нечётных местах. Использовать циклы запрещено!</font>

In [ ]:
s = 'qwertyuiopasdfghjkl'

result = ## your answer here

Проверьте себя:

In [ ]:
assert result == 'ljgdaouteqwryipsfhk'

### Списки

In [205]:
lst = list()

In [206]:
lst

[]

In [207]:
lst = []

In [208]:
lst

[]

In [209]:
type(lst)

list

In [211]:
lst = [1, 2, 3, 'a', 1.3, 'hey', True, [1, 2, 3]]

In [212]:
lst[0]

1

In [213]:
lst[-1]

[1, 2, 3]

In [214]:
len(lst)

8

In [215]:
lst[7]

[1, 2, 3]

In [216]:
lst[-1][-1]

3

In [217]:
lst[7][2]

3

In [218]:
lst[2:7]

[3, 'a', 1.3, 'hey', True]

In [219]:
lst[2:]

[3, 'a', 1.3, 'hey', True, [1, 2, 3]]

In [220]:
lst[:5]

[1, 2, 3, 'a', 1.3]

In [223]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True, [1, 2, 3]]

In [221]:
lst[::-1]

[[1, 2, 3], True, 'hey', 1.3, 'a', 3, 2, 1]

In [222]:
lst[::2]

[1, 3, 1.3, True]

In [224]:
lst[2:7:2]

[3, 1.3, True]

In [227]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True, [1, 2, 3]]

In [228]:
lst[0] = 999

In [229]:
lst

[999, 2, 3, 'a', 1.3, 'hey', True, [1, 2, 3]]

In [226]:
a = 'abcdabcda'
print(id(a))
a += '!'
print(id(a))

4592559984
4592319280

In [234]:
b = [1, 2, 3]
print(id(b))
b += [1]
print(id(b))

4592524480
4592524480

In [231]:
b

[1, 2, 3, 1]

In [235]:
[1, 2, 3, 4] + [1, 2, 3] # extend

[1, 2, 3, 4, 1, 2, 3]

In [236]:
b.append(100)

In [237]:
b

[1, 2, 3, 1, 100]

In [238]:
b.pop()

100

In [239]:
b

[1, 2, 3, 1]

In [250]:
a = [99, -1, 12, 56, 45]

In [241]:
sorted(a)

[-1, 12, 45, 56, 99]

In [242]:
a

[99, -1, 12, 56, 45]

In [243]:
a.sort()

In [244]:
a

[-1, 12, 45, 56, 99]

In [245]:
a = a.sort()

In [246]:
a

In [247]:
print(a)

None

In [248]:
type(a)

NoneType

In [251]:
sorted(a, reverse=True)

[99, 56, 45, 12, -1]

In [98]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True]

In [101]:
[1, 2]  * 3

[1, 2, 1, 2, 1, 2]

In [102]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [103]:
[1, 2] + 10

TypeError: can only concatenate list (not "int") to list

In [104]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True]

In [105]:
lst[0] # индекс

1

In [106]:
lst[2]

3

In [107]:
lst[6]

True

In [108]:
lst[-1]

True

In [109]:
lst[-2]

'hey'

In [113]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True]

In [114]:
lst[1:4] # сюда войдут элементы с индексами с 1 по 3 включительно

[2, 3, 'a']

In [115]:
lst[::2]

[1, 3, 1.3, True]

In [116]:
lst[::-1]

[True, 'hey', 1.3, 'a', 3, 2, 1]

list_name[start:end:step]

In [118]:
lst[1:-1]

[2, 3, 'a', 1.3, 'hey']

In [119]:
lst[1:-1:2]

[2, 'a', 'hey']

In [120]:
len(lst)

7

In [121]:
lst

[1, 2, 3, 'a', 1.3, 'hey', True]

In [122]:
lst[0]

1

In [123]:
lst[0] = 99

In [124]:
lst

[99, 2, 3, 'a', 1.3, 'hey', True]

In [125]:
lst.append(100)

In [126]:
lst

[99, 2, 3, 'a', 1.3, 'hey', True, 100]

In [127]:
lst.pop()

100

In [128]:
lst

[99, 2, 3, 'a', 1.3, 'hey', True]

In [129]:
lst2 = [77, -12, 0, 1, 5, 95]

In [130]:
lst2

[77, -12, 0, 1, 5, 95]

In [131]:
sorted(lst2)

[-12, 0, 1, 5, 77, 95]

In [132]:
lst2

[77, -12, 0, 1, 5, 95]

In [133]:
lst2.sort()

In [134]:
lst2

[-12, 0, 1, 5, 77, 95]

In [136]:
sorted(lst2, reverse=True)

[95, 77, 5, 1, 0, -12]

In [137]:
a = ['a', '1baajs', 'c']

In [139]:
sorted(a) # лексигографическая сортировка

['1baajs', 'a', 'c']

In [110]:
a = [1, 2, 3, 2, 0]

In [111]:
a[0]

1

In [112]:
a[-1]

0

In [9]:
a = list()

В список могут входить любые объекты:

In [10]:
a = [1, '2', '3', [4, 5]]

Операции над списками (похожи на строку):

* cложение списков (+) — конкатенация списокв
* умножение списка на целое число n (*) — повтороение списка n раз

Индексация по списку такая же как и в строках.

In [11]:
b = [1, '2']
a + b

[1, '2', '3', [4, 5], 1, '2']

In [12]:
a * 2

[1, '2', '3', [4, 5], 1, '2', '3', [4, 5]]

In [13]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
a

[1, '2', '3', [4, 5]]

In [16]:
a[0]

1

In [20]:
a[3][1]

5

In [22]:
a[::2]

[1, '3']

В Python есть встроенная функция sorted для сортировки списков:

In [ ]:
sorted([1, 2, 1, 0, 2, 0])

In [52]:
a = [1, 2, 1, 0, 2, 0]

In [34]:
sorted(a, reverse=True)

[2, 2, 1, 1, 0, 0]

In [31]:
a

[1, 2, 1, 0, 2, 0]

In [32]:
a.sort()

In [35]:
a

[0, 0, 1, 1, 2, 2]

In [36]:
a[1] = 999

In [37]:
a

[0, 999, 1, 1, 2, 2]

In [38]:
s = '0000'

In [39]:
s[1] = '9'

TypeError: 'str' object does not support item assignment

In [41]:
b = ()

In [42]:
b = tuple()

In [44]:
b = (1, 2, 3, 'a', (12), [0])

In [47]:
b[0] = 999

TypeError: 'tuple' object does not support item assignment

In [50]:
b[-1][0] = 999

In [51]:
b

(1, 2, 3, 'a', 12, [999])

**Внимание**: список — изменяемый объект! 

Можно менять элементы списка, можно добавлять новые элементы и удалять старые (`.append` и `.pop`).

In [53]:
a[0] = '123'
a

['123', 2, 1, 0, 2, 0]

In [56]:
a + ['data science']

['123', 2, 1, 0, 2, 0, 'data science']

In [57]:
a.append('data science')
a

['123', 2, 1, 0, 2, 0, 'data science']

In [58]:
a.pop()

'data science'

In [59]:
a

['123', 2, 1, 0, 2, 0]

### Преобразования списков и строк

Два основных строковых метода для взаимодействия списков и строк:

* .split — разделить строку на список строк по определённому сепаратору
* .join — соеденить список строк в одну большую строку по определённому сепаратору

In [256]:
'a a a  a  '.split()

['a', 'a', 'a', 'a']

In [259]:
s = 'abaka,baraka,kusaka,'
s.split(',')

['abaka', 'baraka', 'kusaka', '']

In [260]:
s.split('a')

['', 'b', 'k', ',b', 'r', 'k', ',kus', 'k', ',']

In [258]:
' '.join(['a', 'b', 'c'])

'a b c'

In [262]:
'***'.join(['a', 'b', 'c'])

'a***b***c'

In [82]:
' '.join(list(a[-1]))

'b b b   c c  '

In [60]:
s = 'Oh hi hello'

In [69]:
s.split()

['abaka,baraka,kusaka']

In [73]:
a = ['a a a ', 'bbb cc ']

In [78]:
a[-1]

'bbb cc '

In [72]:
a[0].split()

['a', 'a', 'a']

In [67]:
" * ".join(['1', '2', '3'])

'1 * 2 * 3'

In [68]:
" * ".join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found

<font color='red'>**Задача 4.** В строке s через запятую записаны слова. Получите строку result, в которой будут записаны через запятую слова из s, отсортированные в лексикографическом порядке. </font>

In [ ]:
s = "my,mother,is,washing,window,my,father,is,watching,movies"

## your code here

In [ ]:
assert result == 'father,is,is,mother,movies,my,my,washing,watching,window'

## 6. Учимся дружить с поисковиками

__Задача:__ я хочу сгенерировать рандомное число, но я не знаю как это сделать. 

В этом месте ваш семинарист совершит смертельный номер. Он загуглит у вас на глазах как сгенерировать случайное число и найдёт код для этого.

In [126]:
from random import randrange
print(randrange(10))

3

Увидели чудо? Давайте договоримся, что вы не будете стесняться гуглить нужные вам команды и искать ответы на свои вопросы в интернете. Если уж совсем не выходит, задавайте их в наш чат технической поддержки в Телеграм.

## 8. Дзен Python и PEP-8

Как мы увидели выше, команда `import` позволяет подгрузить различные пакеты и модули. Один из модулей, который обязательно нужно подгрузить на первой же паре - это модуль `this`

In [263]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Разработчики языка Python придерживаются определённой философии программирования, называемой «The Zen of Python» («Дзен Питона», или «Дзен Пайтона»). Выше мы вывели на экран именно её. Изучите эту философию и тоже начните её придерживаться.

Более того, мы рекомендуем вам изучить [стайлгайд по написанию кода PEP 8.](https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html) В конце курса вас будет ждать домашка с код-ревью. В ней мы будем требовать, чтобы вы придерживались PEP 8. Код должен быть читаемым :)